<h2>Записаться!!!</h2>
<p>На этой странице можно записаться!</p>

<form action="/visit" method="POST" class="form-horizontal">

  <div class="form-group">

    <label>Ваше имя</label>
    
      <input name="username" type="text" class="form-control" id="inputEmail3" placeholder="ИМЯ">
    </div>
  </div>
  
  
      <button type="submit" class="btn btn-primary">Нажми</button>
   
</form>